$default: #021E05;
$green: #4B8547;


@mixin r($width) {
  @media only screen and (max-width: $width + "px") {
    @content;
  }
}

@mixin opensans($weight) {
  font-family: 'OpenSans',
  sans-serif;
  font-weight: $weight;
}

@mixin montserrat($weight) {
  font-family: 'Montserrat',
  sans-serif;
  font-weight: $weight;
}

@mixin text-clamp($lines: 2, $line-height: false) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;

  @if $line-height {
    max-height: $line-height * $lines * 1px;
  }
}

@mixin checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

@function max ($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min ($numbers...) {
  @return m#{i}n(#{$numbers});
}