@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';
// @import 'components/header';
// @import 'components/footer';
// @import 'components/filter-card';
// @import 'components/insights-partners';
// @import 'components/breadcrumbs';
// @import 'index-page';


.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include r(768) {
      justify-content: flex-start;
    }
  }

  &__logo {
    @include r(768) {
      margin-right: auto;
    }
  }

  &__burger {
    display: none;

    @include r(768) {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 50;
      border: 0;
      padding: 0;
      background-color: inherit;
      order: 1;
      z-index: 100;

      span,
      &::before,
      &::after {
        content: "";
        background-color: $default;
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        transition: 0.5s ease 0s;
      }

      span {
        top: 8px;
        border: 2px solid transparent;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      &.active {
        &::before {
          transform: rotate(45deg);
          top: 9px;
          left: 5px;
          z-index: 100;
          width: 20px;
          height: 2px;
          background-color: #ffffff;
        }

        &::after {
          transform: rotate(-45deg);
          bottom: 9px;
          left: 5px;
          z-index: 100;
          width: 20px;
          height: 2px;
          background-color: #ffffff;
        }

        span {
          border: 2px solid #ffffff;
          width: 30px;
          height: 30px;
          border-radius: 50px;
          top: -5px;
          left: 0px;
          background-color: transparent;
          z-index: 100;
        }
      }
    }
  }

}

.logo {
  width: 120px;
  height: 120px;
}

.menu {

  @include r (768) {
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(2, 30, 5, 0.9);
    transition: top 0.7s;
    left: 0;
    right: 0;
    z-index: 10;

  }

  &.active {
    top: 0;
    z-index: 99;
  }

  &__items {
    display: flex;

    @include r (768) {
      flex-direction: column;
      display: block;
      min-width: 100%;
      text-align: center;
      margin-right: 0;
    }
  }

  &__item {

    &:not(:last-child) {
      margin-right: 35px;

      @include r (768) {
        margin-right: 0;
      }
    }

    @include r (768) {
      color: #ffffff;
    }
  }


  &__link {
    padding: 0 0 5px 0;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;

    &:hover,
    &:active,
    &:focus {
      border-bottom: 1px solid $default;

      @include r(768) {
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
      }
    }

    @include r (768) {
      display: block;
      font-size: 22px;
      padding: 5px 0;
      border-top: 1px solid transparent;
      transition: border-bottom 0.5s, border-top 0.5s;
    }
  }
}

.header-actions {
  &__btns {
    display: flex;
  }

  &__btn {
    background-color: inherit;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    transition: color 0.5s;

    &:not(:last-child) {
      margin-right: 25px;

      @include r(414) {
        margin-right: 15px;
      }
    }

    @include r(768) {
      margin-right: 25px;
    }

    svg {
      transition: fill 0.5s;

      &:hover,
      &:active,
      &:focus {
        fill: $green;
      }
    }
  }

  &__count {
    position: absolute;
    right: -5px;
    top: -7px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $green;
    display: flex;
    align-items: center;
    justify-content: center;
    @include opensans(700);
    font-size: 10px;
  }

  // &__search {
  //   @include opensans(600);
  //   font-size: 12px;
  //   padding: 0 0 0 10px;
  // }
}

.header-info {
  height: 100vh;
  min-height: 600px;
  z-index: 1;
  position: relative;

  @include r(414) {
    min-height: 500px;
  }

  &__inner {
    // padding: 245px 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__box {
    padding: 40px 50px 50px 50px;
    max-width: 570px;
    width: 100%;
    background-color: rgba(243, 243, 243, 0.86);
    box-shadow: 0px 2px 8px;
    margin-left: -50px;

    @include r(1200) {
      margin-left: 0;
    }

    @include r (768) {
      width: 95%;
    }

    @include r(414) {
      padding: 40px 35px 50px 35px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    margin-bottom: 25px;
    font-size: 60px;
    text-align: start;
    max-width: 500px;
    width: 100%;

    &::after {
      height: 0;
      width: 0;
    }

    @include r(768) {
      font-size: 42px;
    }

    @include r(414) {
      font-size: 35px;
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    font-size: 18px;
    margin-bottom: 45px;
    line-height: 1.5;

    @include r(768) {
      font-size: 16px;
    }

    @include r(414) {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }

  &__btn {
    @include r(768) {
      padding: 15px 65px;
      width: 220px;
    }
  }
}

.shop {
  padding: 100px 0 0 0;

  @include r (768) {
    padding: 75px 0 0 0;
  }

  @include r (414) {
    padding: 50px 0 0 0;
  }

  &__title {
    margin-bottom: 55px;

    &::after {
      left: 102px;

      @include r(414) {
        left: 110px;
      }
    }
  }

  &__items {
    display: flex;
    justify-content: center;

    @include r(1200) {
      flex-wrap: wrap;
    }
  }

  &__item {
    max-width: 370px;
    width: 100%;

    &:not(:last-child) {
      margin-right: 30px;

      @include r(1200) {
        margin-bottom: 30px;
        margin-right: 0;
      }
    }

    &:first-child {
      @include r(1200) {
        margin-right: 30px;
      }

      @include r(768) {
        margin-right: 0;
      }
    }

    @include r(768) {
      max-width: 500px;
      width: 100%;
    }

    // @include r(414) {
    //   max-width: 310px;
    // }
  }

  &__product {
    display: block;
    transition: opacity 0.5s;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.9;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 245px;
    padding: 30px 30px 30px 25px;
    transition: opacity 0.5s;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  }

  &__subtitle {
    font-size: 20px;
    color: #ffffff;
    @include opensans (700);
    max-width: 130px;
    margin-bottom: 15px;

  }

  &__lable {
    font-size: 12px;
    padding: 5px 8px;
    border: 1px solid #ffffff;
    color: #ffffff;
    max-width: 135px;
    background-color: rgba(0, 0, 0, 0.38);
    @include opensans(300);
    transition: color 0.5s, border-color 0.5s, background-color 0.5s;

    &:hover,
    &:active,
    &:focus {
      border-color: $default;
      background-color: rgba(243, 243, 243, 0.86);
      color: $default;
    }
  }
}

.shop-galery {
  padding: 80px 0 0 0;

  @include r(768) {
    padding: 75px 0 0 0;
  }

  @include r(414) {
    padding: 50px 0 0 0;
  }

  &__items {
    display: flex;
    margin-bottom: 55px;

    @include r(1200) {
      justify-content: center;
      overflow: auto;
    }
  }

  &__btn {

    &:not(:last-child) {
      margin-right: 20px;

      @include r(414) {
        margin-right: 5px;
      }
    }

    @include r(414) {
      font-size: 14px;
    }
  }

  &__button {
    border: none;
    background-color: inherit;
    @include opensans(600);
    color: $default;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;

    &:hover,
    &:active,
    &:focus {
      border-bottom: 1px solid $default;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    grid-template-rows: repeat(auto-fill, 400px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: center;
  }

  &__item {
    max-width: 270px;
  }

  &__link {
    display: block;
    box-shadow: 0 0 15px 0px rgba(221, 221, 221, 1);
    transition: box-shadow 0.3s;


    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    }
  }


  &__img {
    max-width: 270px;
    height: 326px;
    margin-bottom: 10px;
  }

  &__wrapper {
    display: flex;
    padding: 0 10px 10px;
  }

  &__name {
    margin-bottom: 20px;
    @include opensans(600);
    padding: 0 10px;
  }

  &__subname {
    margin-right: auto;
    @include montserrat(300);
    text-transform: uppercase;
    font-size: 14px;
  }

  &__price {
    @include montserrat(300);
    font-size: 14px;
  }
}

.mixitup-control-active {
  border-bottom: 1px solid $default;

}


.gallery {
  padding: 90px 35px;

  @include r(768) {
    padding: 75px 0 35px 0;
  }

  @include r(414) {
    padding: 50px 0 35px 0;
  }

  &__title {
    margin-bottom: 55px;

    &::after {
      left: 80px;

      @include r(414) {
        left: 94px;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    grid-template-rows: repeat(auto-fill, 280px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-bottom: 45px;
    justify-content: center;

    @include r(768) {
      grid-template-columns: repeat(auto-fill, 100%);
    }
  }

  &__item {
    display: grid;
    height: 280px;

    &:nth-child(10n+1),
    &:nth-child(10n+6) {
      grid-column: span 2;
      max-height: 280px;

      @include r(768) {
        grid-column: span 1;
        max-width: 100%;
      }
    }
  }

  &__link {
    display: block;
    transition: opacity 0.5s;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.9;
    }
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 280px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__button {
    padding: 15px 70px;
  }
}

.contact {
  padding: 110px 0 170px;

  @include r(768) {
    padding: 50px 0 75px 0;
  }

  @include r(414) {
    padding: 25px 0 50px 0;
  }

  &__title {
    &::after {
      left: 73px;

      @include r(414) {
        left: 85px;
      }
    }

    @include r(1200) {
      margin-bottom: 75px;
    }

    @include r(768) {
      margin-bottom: 50px;
    }

    @include r(414) {
      margin-bottom: 10px;

    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    @include r(1200) {
      align-items: center;
    }
  }

  &__wrapper {
    max-width: 470px;
    width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    padding-left: 60px;
    @include opensans(700);
    font-size: 20px;
    color: $default;

    @include r(1200) {
      align-items: center;
    }

    @include r(414) {
      align-items: flex-start;
      font-size: 14px;
    }
  }

  &__number,
  &__address {
    position: relative;
    transition: opacity 0.5s;

    &::after {
      content: "";
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      left: -60px;
      top: 0;
      width: 33px;
      height: 33px;
    }

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
    }
  }

  &__address {
    &::after {
      background-image: url(../images/content/contact/home.svg);
      top: -8px;
    }
  }

  &__number {
    margin-bottom: 45px;

    &::after {
      background-image: url(../images/content/contact/telephone.svg);
    }
  }
}

.contact-form {
  max-width: 470px;
  width: 100%;
  padding: 135px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;

  @include r(1200) {
    padding: 35px 0 0 0;
  }

  &__title {
    font-size: 30px;
    max-width: 500px;
    margin-bottom: 30px;

    &::after {
      background-color: inherit;
    }
  }

  &__email {
    padding: 25px;
    margin-bottom: 25px;
    transition: background-color 0.5s;
    border: 1px solid $default;
    width: 100%;

    &:hover,
    &:active,
    &:focus {
      background-color: rgba(243, 243, 243, 0.86);
    }

    &::placeholder {
      border: none;
    }

  }
}


.footer {
  padding: 50px 0;
  background-color: $default;
  color: #ffffff;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include r(768) {
      flex-wrap: wrap;
      justify-content: center;
    }

  }

  &__social {
    display: flex;

    @include r(768) {
      margin-bottom: 50px;
    }

  }

  &__item {
    &:not(:last-child) {
      margin-right: 25px;
    }

    a {
      svg {
        fill: #ffffff;
        transition: fill 0.5s;

        &:hover,
        &:active,
        &:focus {
          fill: $green;
        }
      }
    }
  }

  &__desc {
    display: block;
    text-align: center;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.7;
    }
  }
}

.footer-menu {

  @include r (768) {
    position: static;
    margin-bottom: 50px;
  }

  &__items {
    display: flex;

    @include r (768) {
      flex-direction: row;
      justify-content: center;
      margin-right: 0;
    }
  }

  &__item {

    &:not(:last-child) {
      margin-right: 35px;

      @include r(414) {
        margin-right: 25px;
      }
    }

    @include r (768) {
      color: #ffffff;
    }
  }


  &__link {
    font-size: 16px;
    border-top: none;

    &:hover,
    &:active,
    &:focus {
      border-bottom: 1px solid #ffffff;
      border-top: none;
    }
  }
}