.contact {
  padding: 110px 0 170px;

  @include r(768) {
    padding: 75px 0 50px 0;
  }

  &__title {
    &::after {
      left: 73px;

      @include r(414) {
        left: 85px;
      }
    }

    @include r(1200) {
      margin-bottom: 75px;
    }

    @include r(768) {
      margin-bottom: 50px;
    }

    @include r(414) {
      margin-bottom: 10px;

    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    @include r(1200) {
      align-items: center;
    }
  }

  &__wrapper {
    max-width: 470px;
    width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    padding-left: 60px;
    @include opensans(700);
    font-size: 20px;
    color: $default;

    @include r(1200) {
      align-items: center;
    }

    @include r(414) {
      align-items: flex-start;
      font-size: 14px;
    }
  }

  &__number,
  &__address {
    position: relative;
    transition: opacity 0.5s;

    &::after {
      content: "";
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      left: -60px;
      top: 0;
      width: 33px;
      height: 33px;
    }

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
    }
  }

  &__address {
    &::after {
      background-image: url(../images/content/contact/home.svg);
      top: -8px;
    }
  }

  &__number {
    margin-bottom: 45px;

    &::after {
      background-image: url(../images/content/contact/telephone.svg);
    }
  }
}

.contact-form {
  max-width: 470px;
  width: 100%;
  padding: 135px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;

  @include r(1200) {
    padding: 35px 0 0 0;
  }

  &__title {
    font-size: 30px;
    max-width: 500px;
    margin-bottom: 30px;

    &::after {
      background-color: inherit;
    }
  }

  &__email {
    padding: 25px;
    margin-bottom: 25px;
    transition: background-color 0.5s;
    border: 1px solid $default;
    width: 100%;

    &:hover,
    &:active,
    &:focus {
      background-color: rgba(243, 243, 243, 0.86);
    }

    &::placeholder {
      border: none;
    }
  }
}
